RUST_LOG=debug # set required level (info, debug, full)

API_TOKEN=your_static_auth_token
EPHEMERAL_WORKER_COUNT=number_of_isolate_workers # Adjust as per your CPU cores or it will be auto set
PERSISTENT_WORKER_COUNT=number_of_isolate_workers # Adjusted by default to 10% of ephemeral workers configured

HOST=your_host
PORT=your_port
ALLOWED_ORIGIN=cors_allowed_endpoint
